h2 {
  color: darkolivegreen;
  margin: auto;
  padding: 50px;
  font-family: 'Alkatra', cursive;
}

th {
  //background-color: black;
  color: aliceblue;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Alkatra', cursive;
}

td {
  color: aliceblue;
  padding: 15px;
  text-align: left;
  font-family: 'Alkatra', cursive;
}

table {
  color: aliceblue;
  // border: 1px solid;
}

button:hover {
  background-color: aliceblue;
}

tr:hover {
  background-color: #111;
}

table {
  width: 100%;
}
