.material-symbols-outlined {
  font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48,
}

h2 {
  color: darkolivegreen;
  margin: auto;
  padding: 50px;
  font-family: 'Alkatra', cursive;
}

.div-content {
  overflow-x: auto;
}