<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
</head>

<h2 mat-dialog-title>Add Album</h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div style="text-align:center;">
    <mat-form-field>
      <input 
      matInput 
      type="text"
      id="title"
      class="form-control" 
      placeholder="Album Title" 
      formControlName="title"
      required/>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput 
      type="text"
      id="description"
      class="form-control" 
      placeholder="Album Description" 
      formControlname="description"
      required/>
    </mat-form-field>
    <h1></h1>
    <div formArrayName = "getSongs">
      <div *ngFor="let control of getSongs.controls; let index = index">
        <div [formGroupName]="index">
          <mat-form-field>
            <input 
            matInput 
            type="text" 
            id="songName"
            class="form-control" 
            placeholder="Song Name" 
            formControlName="songName"
            required/>
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            type="text" 
            id="length"
            class="form-control" 
            placeholder="Song Length" 
            formControlName="songLength"
            required/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <button type="button" (click)="addSong()">Add Song</button>
  </div>
  </form>
<pre>
  {{ form.value | json }}
</pre>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    color="primary"
    type="submit"
  >Add</button>
</div>
<!-- [disabled]="data.albumForm.invalid" -->