<h2 mat-dialog-title>Add Album</h2>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div style="text-align:center;">
    <mat-form-field>
      <input 
      matInput 
      type="text"
      id="title"
      class="form-control" 
      placeholder="Album Title" 
      name="title"
      ngModel
      required/>
    </mat-form-field>
    <span class="material-symbols-outlined">library_music</span>
    <h1></h1>
    <mat-form-field>
      <input 
      matInput 
      type="text" 
      id="songName"
      class="form-control" 
      placeholder="Song Name" 
      name="songName"
      ngModel
      required/>
    </mat-form-field>
    <span class="material-symbols-outlined">mic</span>
    <h1></h1>
    <mat-form-field>
      <input 
      matInput 
      type="text" 
      id="length"
      class="form-control" 
      placeholder="Song Length" 
      name="songLength"
      ngModel
      required/>
    </mat-form-field>
    <span class="material-symbols-outlined">timer</span>
  </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    [disabled]="data.albumForm.invalid"
    color="primary"
    type="submit"
  >Add</button>
</div>