<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
</head>

<div>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink = "">Home</a></li>
      <li routerLinkActive="active"><a routerLink = "LikedAlbums">Liked Albums</a></li>
      <li routerLinkActive="active"><a routerLink = "LikedSongs">Liked Songs</a></li>
    </ul>
</div>
<div class="component-container">
  <router-outlet></router-outlet>
</div>