img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h2 {
  color: aliceblue;
  margin: auto;
  padding: 50px;
  text-align: center;
}

p {
  color: aliceblue;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: darkolivegreen;
  margin: auto;
  padding: 50px;
  text-align: center;
}

button {
  color: darkolivegreen;
  background-color: #b4b4b4;
}

button:hover {
  background-color: #111;
}

h1 {
  color: darkolivegreen;
  padding: 50px;
}