h1 {
  color: darkolivegreen;
  margin: auto;
  font-family: 'Alkatra', cursive;
}

h2 {
  color: darkolivegreen;
  margin: auto;
  padding: 50px;
  font-family: 'Alkatra', cursive;
}

mat-toolbar-row, mat-sidenav-container {
  background-color: rgb(39, 35, 35);
}